main {
    display: flex;
    width: 100%;
    justify-content: center;
}

.photographer_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    max-width: 1200px;
}

.photographer_section article {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.photographer_section article h2 {
    color: $ternaire-color;
    font-size: 36px;
    margin-bottom: auto;
}

.photographer_section article img {
    @include image;
}

.photographerLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 325px;
}

.cityCountry {
    color: $primary-color;
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.tagLine {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.photographerPrice {
    color: $price-color;
    font-size: 9px;
    display: flex;
    justify-content: center;
    margin: 0;
}