.photograph-header {
    background-color: $background-color;
    height: 313px;
    width: 1240px;
    margin: 0 100px;
    border-radius: 5px;
}

.photograph-header article img {
    @include image;  
}