.photograph-header {
    background-color: #FAFAFA;
    height: 313px;
    width: 1240px;
    margin: 0 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cardPage {
    display: flex;
    flex-direction: column;
}

.photograph-header img {
    @include image;
}

.tagLinePage {
    font-size: 18px;
    color: #525252;
}

.cityCountryPage {
    color: $primary-color;
    font-size: 24px;
}

.namePage {
    color: #d3573d;
    font-size: 64px;
    margin: 0;
}